.custom-banner {
  background: linear-gradient(90deg, #0061a8 0%, #e97ff9 100%);
  color: white;
  padding: 20px;
  text-align: center;
}

.custom-banner .text-container h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.custom-banner .text-container p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.custom-banner .text-container button {
  font-size: 1rem;
  padding: 10px 20px;
}

.custom-banner .image-container .family-image {
  height: 450px;
}

@media (max-width: 768px) {
  .custom-banner .image-container .family-image {
    height: 200px;
  }
}
