.download-app-section {
  background-color: rgb(238, 244, 249);
  color: #333;
  padding: 40px 0;
  font-family: Arial, sans-serif;
}
.download-app-section .text-section h1 {
  color: #003366;
  font-size: 48px;
  margin-bottom: 20px;
}

.download-app-section .text-section p {
  font-size: 20px;
  color: #333;
}

.download-app-section .download-buttons .btn-outline-primary {
  margin-right: 10px;
  border-color: #0056b3;
  color: #0056b3;
}

.download-app-section .download-buttons .btn-outline-primary:hover {
  background-color: #0056b3;
  color: white;
}

.download-app-section .image-section img {
  max-width: 100%;
}
