.main-header {
  align-items: center;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1pc 3pc;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
}

.content-wrapper {
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.content-wrapper .link.default,
.content-wrapper .link.noborder {
  color: #0b41ad;
  cursor: pointer;
  display: block;
  font-size: 18px;
  line-height: 27px;
  padding: 6.5px 24px;
}

.content-wrapper:hover {
  color: #0b41ad;
  text-decoration: underline;
}

.content-wrapper .link.ghost {
  border: 1px solid #0b41ad;
  border-radius: 5px;
  color: #002c77;
  cursor: pointer;
  display: block;
  font-size: 18px;
  line-height: 27px;
  margin-right: 10px;
  padding: 6.5px 24px;
  transition-duration: 0.4s;
}

.content-wrapper .link.ghost:focus {
  box-shadow: 0 0 0 1px #fff, 0 0 1px 2px #002c77;
}

.content-wrapper .link.ghost:focus,
.content-wrapper .link.ghost:hover {
  background-color: #2c6ef2;
  color: #fff;
}

.login-detail .modal-header {
  background: #002c77;
}

.login-detail .modal-header h4 {
  color: #fff;
  font-size: 25px;
  padding: 13px 20px;
}

.login-detail .reveal {
  border: none;
  padding: 0;
}

.login-detail .modal-body {
  padding: 5px 20px;
}

.login-detail .modal-body .login-text {
  border-bottom: 1px solid #e4e4e4;
  font-size: 17px;
  line-height: 18px;
  line-height: 50px;
  margin-bottom: 0;
}

.login-detail .modal-body .cta-link {
  color: #2c6ef2;
}

.top-bar-left {
  justify-content: space-between;
}

.top-bar-left,
.top-bar-left .right-wrapper {
  align-items: center;
  display: flex;
}

.top-bar-left .logo-img {
  padding-left: 8px;
}
.dummy-space {
  height: 17px;
}
